// team_detail.scss
@use "variables" as *;

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: $gray-bg;
  color: $text-color;
}

header {
  background-color: $black;
  color: $white;
  padding: 1rem;
  text-align: center;
}

.container {
  max-width: 600px;
  margin: 20px auto;
  background: $white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.team-info {
  margin-bottom: 20px;

  p {
    font-size: 16px;
    margin-bottom: 10px;
  }
}

.actions {
  text-align: center;

  .action-btn {
    padding: 10px 20px;
    margin: 10px;
    background-color: $black;
    color: $white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;

    &:hover {
      background-color: $btn-hover;
    }

    &.delete-btn {
      background-color: $delete-btn;

      &:hover {
        background-color: $delete-hover;
      }
    }

    &.back-btn {
      background-color: #28a745;

      &:hover {
        background-color: #218838;
      }
    }
  }
}
