@use 'variables' as *;
@use 'mixins' as m;

label {
    display: block;
    margin-bottom: 8px;
    font-size: 14px;
    color: $text-color;
    font-weight: 500;
}

input[type='text'] {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid $border-color;
    border-radius: 6px;
    font-size: 14px;
    transition:
        border-color 0.3s ease,
        box-shadow 0.3s ease;

    &:focus {
        border-color: $yellow;
        box-shadow: 0 0 8px rgba($yellow, 0.3);
    }
}

.delete-btn {
    @include m.button-style($yellow, $yellow-hover);
    margin-top: 15px; // Відступ зверху
    color: $black;
}

button {
    @include m.button-style($yellow, $yellow-hover);
    width: 100%;
    padding: 12px;
    font-size: 16px;
    color: $black;
}

.back-btn {
    text-align: center;
    margin-top: 25px;

    a {
        font-size: 14px;
        text-decoration: none;
        color: $black;
        font-weight: 500;

        &:hover {
            color: $yellow;
        }
    }
}

form + form {
    margin-top: 20px;
}
