{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Team Management SPA(React)</title>

    <!-- React CSS (копія з build/static/css/*.css) -->
    <link rel="stylesheet" href="{% static 'static/css/main.a2e9bb54.css' %}">
  </head>
  <body>
    <noscript>You need to enable JavaScript to run this app.</noscript>

    <div id="root"></div>  {# React вставить App тут #}

    <!-- React JS (копія з build/static/js/*.js) -->
    <script src="{% static 'static/js/main.0e107153.js' %}"></script>
  </body>
</html>
